*{
  background-color: black;
  box-sizing: border-box;
  color: white;
  font-family: 'Perfect DOS VGA 437', sans-serif;
  margin: 0;
  padding: 0;
}

.board {
  aspect-ratio: 1/1;
  display: grid;
  gap: 0px;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  margin: 0 auto;
  width: 60%;
}

.cell {
  align-items: center;
  background-color: black;
  border: 2px solid white;
  cursor: pointer;
  display: flex;
  font-size: 9vw;
  height: 100%;
  justify-content: center;
  place-items: center;
  width: 100%;
}

.collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.column {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  position:relative;
}

.content{
  border-color: white;
  border-style: solid;
  padding: 10px;
}

.hidden{
  display: none;
  overflow: hidden;
  flex-direction: column;
}

.list{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  border-color: white;
  border-style: solid;
  padding: 10px;
  width: 20%;
}

.logo{
  background-color: white;
  color: black;
  padding-left: 5px;
}

.middle {
  width: 60%;
}

.right {
  border-color: white;
  border-style: solid;
  padding: 10px;
  width: 20%;
}

.row{
  display: flex;
}

a{
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

a:hover {
  color: black;
  background-color: white;
}

button{
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

button:hover{
  background-color: white;
  color: black;
}

h1 {
  margin: 10px;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  text-align: center;
}

nav{
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
}